{% extends "base.html.twig" %}
{% block body %}
    
    <div class="header">
        <h1>PŮJČOVNA BAGRŮ</h1>
        <img src="{{ asset('images/bagr.jpg')}}" alt="">

        <h2>
            KONTAKT
            PRODUKTY
            SLUŽBY
            O NÁS
        </h2>
    </div>

        <div class="body">
            <p>Bagry jsou těžké stavební stroje, které se používají především k vykopávkám, zemním pracím a úpravě terénu. Mají silné pásové nebo kola, což jim umožňuje pohybovat se v náročném terénu. Bagry jsou vybaveny hydraulickým ramenem, které může mít různé nástavce, jako jsou lopaty, kladiva nebo drapáky, což z nich činí velmi univerzální nástroje.

Existuje několik typů bagrů, včetně kolových a pásových, které se liší podle typu podkladu a požadované mobility. Bagry se často využívají při výstavbě silnic, mostů, budov a dalších infrastrukturních projektů. Díky své robustnosti a efektivitě výrazně zkracují čas potřebný k dokončení náročných prací.

Moderní bagry jsou často vybaveny pokročilými technologiemi, jako jsou GPS a automatizované řídicí systémy, což zvyšuje jejich přesnost a usnadňuje práci operátorům. Vzhledem k jejich důležitosti v oblasti stavebnictví a zemědělství se bagry staly nepostradatelným nástrojem pro mnohé stavební firmy.</p>
        </div>
{% endblock %}
